/.metadata/
summary-service/mvnw
summary-service/mvnw.cmd
summary-service/.mvn/wrapper/MavenWrapperDownloader.java
summary-service/.mvn/wrapper/maven-wrapper.properties
summary-service/.mvn/wrapper/maven-wrapper.jar
